# QUESTION 1

In [1]:
my_tuple=(1,2,3)                       #Create a tuple my_tuple with the values 1, 2, and 3. Print the tuple

In [2]:
print(my_tuple)

(1, 2, 3)

# QUESTION 2

In [3]:
my_set={1,2,3}                         #Create a set my_set with the values 1, 2, and 3. Print the set

In [4]:
print(my_set)

{1, 2, 3}

# QUESTION 3

In [5]:
my_dict={'apple':1,'banana':2,'cherry':3}   



# Create a dictionary my_dict with keys "apple", "banana", and "cherry" and values 1, 2, and 3. Print the dictionary.

In [6]:
print(my_dict)

{'apple': 1, 'banana': 2, 'cherry': 3}

# QUESTION 4

In [7]:
for i in my_tuple:                 #Use a for loop to print the values in my_tuple one by one.
    print(i)

1
2
3

# QUESTION 5

In [8]:
for i in my_set:                      #Use a for loop to print the values in my_set one by one.
    print(i)

1
2
3

# QUESTION 6

In [9]:
for i in my_dict:                       #Use a for loop to print the keys and values in my_dict one by one
    print(i)

apple
banana
cherry

# QUESTION 7

In [10]:
x=1                                     #Use a while loop to print the numbers from 1 to 10.

In [11]:
while x<11:
    print(x)
    x=x+1

1
2
3
4
5
6
7
8
9
10

# QUESTION 8

In [12]:
y=0                                      #Use a while loop to print the even numbers from 2 to 10.

In [13]:
while y<10:
    y=y+2
    print(y)

2
4
6
8
10

# QUESTION 9

In [14]:
i=1                             #Use a while loop to print the squares of the numbers from 1 to 5.

In [15]:
while i in range(1,6):
    print(i**2)
    i=i+1

1
4
9
16
25

# QUESTION 10

In [16]:
for x in my_tuple:                      #Use a for loop to print the sum of the numbers in my_tuple
    print(sum(my_tuple))

6
6
6